.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-in-out;
}

.inputError {
    border-color: red;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /* Звичайний курсор */
    transition: opacity 0.3s ease;
}

.button:disabled {
    cursor: not-allowed;
    /* 🚫 Заборонений курсор */
    opacity: 0.6;
    /* Зменшена прозорість */
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 10px;
}

/* ======================= */
.themeDisplay {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.themeEditor {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.editButton {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.editButton {
    background-color: #ffcc00;
}

.editButton:hover {
    background-color: #e6b800;
}

/* ================ */
.inputContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.saveButtonGeneral {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease-in-out;
    margin-left: 10px;
}

.saveButton {
    position: absolute;
    right: 5px;
    top: 40%;
    transform: translateY(-50%);

    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.saveButton:hover {
    background-color: #45a049;
}

.genderSelection {
    display: flex;
    align-items: center;
}

.genderDisplay {
    display: flex;
    align-items: center;
}

.genderDisplay p {
    margin-right: 10px;
}

.themeConteaner {
    width: 300px;
}