.headerSection {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.youTubeIcon {
    font-size: 24px;
    margin-right: 10px;
    color: #ff0033;
}

.dropdownMenu {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    z-index: 1;
}

.userAvatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;
    object-fit: cover;
}