.button {
    margin-bottom: 20px;
    width: 100%;
}

.button:hover {
    background-color: #1565c0;
}

.videoList {
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    margin: 0;
}

.videoItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 6px;
    border-bottom: 1px solid #ccc;
}

.thumbnail {
    width: 120px;
    border-radius: 4px;
}

.buttonBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.iconButton {
    font-size: 20px;
    color: red;
}

.buttonBlock p {
    font-size: 16px;
}